@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.popup {
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
}